@model List<ResultServiceIconDto>
@{
    ViewData["Title"] = "Hizmetlerimiz İkonları Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    ViewData["DeleteFunction"] = "deletedServiceIcon";
    ViewData["DeleteUrlPrefix"] = "/Admin/ServiceIcon/SoftDeleteServiceIcon/";

    int count = 0;
}

<div class="card basic-data-table">
    @Html.AntiForgeryToken()
    <div class="card-header d-flex justify-content-between align-items-center flex-wrap">
        <h5 class="card-title mb-0 mt-1">Hizmetlerimiz İkonları Listesi</h5>
        <div class="d-flex align-items-center gap-2 md-0 mt-1">
            <a asp-action="CreateServiceIcon" asp-controller="ServiceIcon" asp-area="Admin" class="btn rounded-pill btn-info-600 radius-8 d-inline-flex align-items-center">
                <span class="material-symbols-outlined me-1" style="font-size: 18px;">add</span> Yeni İkon Ekle
            </a>
            <a asp-action="DeletedServiceIcon" asp-controller="ServiceIcon" asp-area="Admin" class="btn btn-danger-600 d-inline-flex align-items-center">
                <span class="material-symbols-outlined me-1" style="font-size: 18px;">delete</span> Çöp Kutusu
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive" style="overflow-y: hidden;">
        <table class="table table-hover mb-0" id="dataTable" style="width: 100%; margin-top: 10px;">
            <thead>
                <tr>
                    <th class="text-start">#</th>
                    <th>İkon - İkon Url Adı</th>
                    <th>Oluşturma | Son Güncelleme Tarihleri</th>
                    <th>İşlem</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <td>@count</td>
                        <td>@item.IconName - <b><u>@item.IconUrl</u></b></td>
                        <td>
                            <div class="d-flex flex-column gap-1">
                                <span>
                                    🟢 <b>Oluşturma:</b>
                                    @item.CreatedDate.ToString("dd.MM.yyyy HH:mm")
                                </span>
                                <span>
                                    🟡 <b>Güncelleme:</b>
                                    @(item.UpdatedDate != null
                                        ? item.UpdatedDate.Value.ToString("dd.MM.yyyy HH:mm")
                                        : "Henüz güncelleme yapılmadı")
                                </span>
                            </div>
                        </td>
                            <td>
                                <div class="d-flex flex-nowrap gap-2">
                                    <a asp-action="UpdateServiceIcon" asp-controller="ServiceIcon" asp-area="Admin" asp-route-id="@item.Id"
                                       class="btn rounded-pill btn-warning-600 radius-8 d-inline-flex align-items-center btn-sm action-btn">
                                        <span class="material-symbols-outlined me-1 d-inline-flex align-items-center" style="font-size: 18px;">edit</span> Düzenle
                                    </a>
                                    <button class="btn rounded-pill btn-danger-600 radius-8 d-inline-flex align-items-center action-btn delete-btn"
                                            data-id="@item.Id">
                                        <span class="material-symbols-outlined me-1 d-inline-flex align-items-center" style="font-size: 18px;">delete</span> Sil
                                    </button>
                                </div>
                            </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
    </div>
</div>