@model List<ResultServiceDto>
@{
    ViewData["Title"] = "Silinen Hizmetlerimiz Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    ViewData["PermanentDeleteUrl"] = "~/Admin/Service/PermanentDeleteService";
    ViewData["PermanentDeleteConfirmTitle"] = "Hizmet ikonu kalıcı olarak silinsin mi?";

    int count = 0;
}

<div class="card basic-data-table">
    @Html.AntiForgeryToken()
    <div class="card-header d-flex justify-content-between align-items-center flex-wrap">
        <h5 class="card-title mb-0 mt-1">Silinen Hizmetlerimiz Listesi</h5>
        <div class="d-flex align-items-center gap-2 md-0 mt-1">
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive" style="overflow-y: hidden;">
        <table class="table table-hover mb-0" id="dataTable" style="width: 100%; margin-top: 10px;">
            <thead>
                <tr>
                    <th class="text-start">
                    <th>Icon Adı | Icon Url</th>
                    <th>Hizmet Adı</th>
                    <th>Hizmet Açıklaması</th>
                    <th>Oluşturma | Son Güncelleme | Silinme Tarihleri</th>
                    <th>İşlem</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <td>@count</td>
                        <td>@item.IconName - @item.IconUrl</td>
                        <td><b><u>@item.Title</u></b></td>
                        <td>@item.Description</td>
                            <td>
                                <div class="d-flex flex-column small gap-1">
                                    <span>
                                        🟢 <b>Oluşturma:</b>
                                        @item.CreatedDate.ToString("dd.MM.yyyy HH:mm")
                                    </span>
                                    <span>
                                        🟡 <b>Güncelleme:</b>
                                        @(item.UpdatedDate != null
                                            ? item.UpdatedDate.Value.ToString("dd.MM.yyyy HH:mm")
                                            : "Henüz güncelleme yapılmadı")
                                    </span>
                                    <span>
                                        🔴 <b>Silinme:</b>
                                        @item.DeletedDate.Value.ToString("dd.MM.yyyy HH:mm")
                                    </span>
                                </div>
                            </td>
                            <td>
                                <form asp-action="UndoSoftDeleteService" asp-controller="Service" asp-area="Admin" asp-route-id="@item.Id" method="post" class="d-inline">
                                    <button type="submit" class="btn rounded-pill btn-success-600 radius-8 d-inline-flex align-items-center btn-sm action-btn">
                                        <span class="material-symbols-outlined me-1" style="font-size: 18px;">undo</span> Geri al
                                    </button>
                                </form>
                                <button type="button"
                                        class="btn rounded-pill btn-danger-600 radius-8 d-inline-flex align-items-center btn-sm action-btn permanent-delete-btn"
                                        data-id="@item.Id">
                                    <span class="material-symbols-outlined me-1" style="font-size: 18px;">delete_forever</span> Sil
                                </button>
                            </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
    </div>
</div>
