@model ResultBannerDto

@{
    var backgroundImage = !string.IsNullOrEmpty(Model?.ImageUrl)
        ? $"background-image: url('{Model.ImageUrl}');"
        : "background-color: #ccc;";
}

<section class="banner-section" style="@backgroundImage">
    <div class="container-lg h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-6 col-12 d-flex flex-column justify-content-center text-center text-lg-start">
                @if (Model != null)
                {
                    <h2 class="display-3 ls-1">@Model.Title</h2>
                    <p class="fs-5 mt-2 mb-4">@Model.Subtitle</p>

                    <div class="d-flex gap-3 justify-content-center justify-content-lg-start">
                        <a href="#" class="btn btn-dark text-uppercase fs-6 rounded-pill px-4 py-3 mt-3">Şimdi Sipariş Ver</a>
                    </div>

                    <div class="row my-5 text-dark">
                        <div class="col-6 col-md-3 d-flex flex-column align-items-center mb-3 mb-md-0">
                            <p class="fs-1 fw-bold lh-sm mb-0">@Model.Statistic1</p>
                            <p class="text-uppercase lh-sm fw-normal mb-0" style="margin-top:2px;">@Model.Statistic1Title</p>
                        </div>
                        <div class="col-6 col-md-3 d-flex flex-column align-items-center mb-3 mb-md-0">
                            <p class="fs-1 fw-bold lh-sm mb-0">@Model.Statistic2</p>
                            <p class="text-uppercase lh-sm fw-normal mb-0" style="margin-top:2px;">@Model.Statistic2Title</p>
                        </div>
                        <div class="col-6 col-md-3 d-flex flex-column align-items-center">
                            <p class="fs-1 fw-bold lh-sm mb-0">@Model.Statistic3</p>
                            <p class="text-uppercase lh-sm fw-normal mb-0" style="margin-top:2px;">@Model.Statistic3Title</p>
                        </div>
                        <div class="col-6 col-md-3 d-flex flex-column align-items-center">
                            <p class="fs-1 fw-bold lh-sm mb-0">@Model.Statistic4</p>
                            <p class="text-uppercase lh-sm fw-normal mb-0" style="margin-top:2px;">@Model.Statistic4Title</p>
                        </div>
                    </div>
                }
                else
                {
                    <h2>Banner bulunmamaktadır.</h2>
                }
            </div>
        </div>
    </div>
</section>

<style>
    .banner-section {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; /* Resmin ortasını gösterir */
        height: 600px; /* Geniş ekran için daha uygun bir yükseklik */
    }



    .banner-section h2 {
        font-size: 2.5rem; /* Mobil için başlık boyutunu küçültür */
    }

    .banner-section p {
        font-size: 1.1rem; /* Mobil için metin boyutunu küçültür */
    }

    
</style>