@model List<ResultSecondaryBannerDto>
@{
    ViewData["Title"] = "İkincil Banner Sayfası";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    ViewData["PermanentDeleteUrl"] = "~/Admin/SecondaryBanner/PermanentDeleteSecondaryBanner";
    ViewData["PermanentDeleteConfirmTitle"] = "İkincil banner alanı kalıcı olarak silinsin mi?";

    int count = 0;
}

<div class="card basic-data-table">
    @Html.AntiForgeryToken()
    <div class="card-header d-flex justify-content-between align-items-center flex-wrap">
        <h5 class="card-title mb-0 mt-1">Silinen Banner Listesi</h5>
        <div class="d-flex align-items-center gap-2 md-0 mt-1">
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive" style="overflow-y: hidden;">
        <table class="table table-hover mb-0" id="dataTable" style="width: 100%; margin-top: 10px;">
            <thead>
                <tr>
                    <th class="text-start">#</th>
                    <th>İkincil Banner Seti</th>
                    <th>Oluşturma | Son Güncelleme | Silinme Tarihleri</th>
                    <th>İşlem</th>
                </tr>   
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <td>@count</td>
                        <td>
                                <div class="d-flex justify-content-start align-items-start gap-4 py-3 text-center">
                                    <!-- Kart 1 -->
                                    <div class="card shadow-sm" style="width: 180px; cursor:pointer;" data-bs-toggle="modal" data-bs-target="#imageModal_@item.ImageUrl1">
                                        <img src="@Url.Content(item.ImageUrl1)" class="card-img-top" style="height: 100px; object-fit: cover;" alt="Banner 1" />
                                        <div class="card-body p-3 d-flex flex-column gap-2 text-start">
                                            <p class="card-title mb-0">Başlık1 :</p>
                                            <p class="mb-0">@item.Title1</p>
                                            <p class="card-title mb-0">Açıklama1 :</p>
                                            <p class="mb-0">@item.Description1</p>
                                            <p class="card-title mb-0">Buton Adı1 :</p>
                                            <p class="mb-0">@item.ButtonTitle1</p>
                                        </div>
                                    </div>

                                    <!-- Kart 2 -->
                                    <div class="card shadow-sm" style="width: 180px; cursor:pointer;" data-bs-toggle="modal" data-bs-target="#imageModal_@item.ImageUrl2">
                                        <img src="@Url.Content(item.ImageUrl2)" class="card-img-top" style="height: 100px; object-fit: cover;" alt="Banner 2" />
                                        <div class="card-body p-3 d-flex flex-column gap-2 text-start">
                                            <p class="card-title mb-0">Başlık2 :</p>
                                            <p class="mb-0">@item.Title2</p>
                                            <p class="card-title mb-0">Açıklama2 :</p>
                                            <p class="mb-0">@item.Description2</p>
                                            <p class="card-title mb-0">Buton Adı2 :</p>
                                            <p class="mb-0">@item.ButtonTitle2</p>
                                        </div>
                                    </div>

                                    <!-- Kart 3 -->
                                    <div class="card shadow-sm" style="width: 180px; cursor:pointer;" data-bs-toggle="modal" data-bs-target="#imageModal_@item.ImageUrl3">
                                        <img src="@Url.Content(item.ImageUrl3)" class="card-img-top" style="height: 100px; object-fit: cover;" alt="Banner 3" />
                                        <div class="card-body p-3 d-flex flex-column gap-2 text-start">
                                            <p class="card-title mb-0">Başlık3 :</p>
                                            <p class="mb-0">@item.Title3</p>
                                            <p class="card-title mb-0">Açıklama3 :</p>
                                            <p class="mb-0">@item.Description3</p>
                                            <p class="card-title mb-0">Buton Adı3 :</p>
                                            <p class="mb-0">@item.ButtonTitle3</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="imageModal_@item.ImageUrl1" tabindex="-1" aria-hidden="true" style="background-color: rgba(0,0,0,0.6);">
                                    <div class="modal-dialog modal-fullscreen m-0 p-0">
                                        <div class="modal-content bg-transparent border-0 position-relative">
                                            <button type="button" class="btn-close btn-close-white"
                                                    data-bs-dismiss="modal" aria-label="Close"
                                                    style="position: fixed; top: 1rem; right: 1rem; width:2.5rem; height:2.5rem; z-index:1050;"></button>
                                            <div class="modal-body p-0 d-flex justify-content-center align-items-center">
                                                <img src="@Url.Content(item.ImageUrl1)" class="img-fluid rounded" alt="Preview 1" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="imageModal_@item.ImageUrl2" tabindex="-1" aria-hidden="true" style="background-color: rgba(0,0,0,0.6);">
                                    <div class="modal-dialog modal-fullscreen m-0 p-0">
                                        <div class="modal-content bg-transparent border-0 position-relative">
                                            <button type="button" class="btn-close btn-close-white"
                                                    data-bs-dismiss="modal" aria-label="Close"
                                                    style="position: fixed; top: 1rem; right: 1rem; width:2.5rem; height:2.5rem; z-index:1050;"></button>
                                            <div class="modal-body p-0 d-flex justify-content-center align-items-center">
                                                <img src="@Url.Content(item.ImageUrl2)" class="img-fluid rounded" alt="Preview 2" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="imageModal_@item.ImageUrl3" tabindex="-1" aria-hidden="true" style="background-color: rgba(0,0,0,0.6);">
                                    <div class="modal-dialog modal-fullscreen m-0 p-0">
                                        <div class="modal-content bg-transparent border-0 position-relative">
                                            <button type="button" class="btn-close btn-close-white"
                                                    data-bs-dismiss="modal" aria-label="Close"
                                                    style="position: fixed; top: 1rem; right: 1rem; width:2.5rem; height:2.5rem; z-index:1050;"></button>
                                            <div class="modal-body p-0 d-flex justify-content-center align-items-center">
                                                <img src="@Url.Content(item.ImageUrl3)" class="img-fluid rounded" alt="Preview 3" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </td>
                            <td>
                                <div class="d-flex flex-column small gap-1">
                                    <span>
                                        🟢 <b>Oluşturma:</b>
                                        @item.CreatedDate.ToString("dd.MM.yyyy HH:mm")
                                    </span>
                                    <span>
                                        🟡 <b>Güncelleme:</b>
                                        @(item.UpdatedDate != null
                                            ? item.UpdatedDate.Value.ToString("dd.MM.yyyy HH:mm")
                                            : "Henüz güncelleme yapılmadı")
                                    </span>
                                    <span>
                                        🔴 <b>Silinme:</b>
                                        @item.DeletedDate.Value.ToString("dd.MM.yyyy HH:mm")
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex flex-nowrap gap-2">
                                    <form asp-action="UndoSoftDeleteSecondaryBanner" asp-controller="SecondaryBanner" asp-area="Admin" asp-route-id="@item.Id" method="post" class="d-inline">
                                        <button type="submit" class="btn rounded-pill btn-success-600 radius-8 d-inline-flex align-items-center btn-sm action-btn">
                                            <span class="material-symbols-outlined me-1 d-inline-flex align-items-center" style="font-size: 18px;">undo</span> Geri al
                                        </button>
                                    </form>

                                    <button type="button" class="btn rounded-pill btn-danger-600 radius-8 d-inline-flex align-items-center btn-sm action-btn permanent-delete-btn"
                                            data-id="@item.Id">
                                        <span class="material-symbols-outlined me-1 d-inline-flex align-items-center" style="font-size: 18px;">delete_forever</span> Sil
                                    </button>
                                </div>
                            </td>
                    </tr>
                    }
            </tbody>
        </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const selectAll = document.getElementById('selectAll');
        const checkboxes = document.querySelectorAll('.row-checkbox');

        if (selectAll) {
            selectAll.addEventListener('change', function () {
                checkboxes.forEach(cb => cb.checked = this.checked);
                toggleMultiDeleteUI();
            });
        }

        document.addEventListener('change', e => {
            if (e.target.classList.contains('row-checkbox')) {
                toggleMultiDeleteUI();
            }
        });

        function toggleMultiDeleteUI() {
            const selectedCount = document.querySelectorAll('.row-checkbox:checked').length;

            const undoBtn = document.getElementById('undosoftdeleteSelectedBtn');
            const permanentDeleteBtn = document.getElementById('permanentdeleteSelectedBtn');

            if (undoBtn) undoBtn.disabled = selectedCount === 0;
            if (permanentDeleteBtn) permanentDeleteBtn.disabled = selectedCount === 0;

            document.querySelectorAll('.action-btn').forEach(btn => {
                btn.disabled = selectedCount > 0;
                btn.style.pointerEvents = selectedCount > 0 ? 'none' : 'auto';
                btn.style.opacity = selectedCount > 0 ? '0.5' : '1';
            });
        }
                        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('.modal').forEach(function(modalEl){
                modalEl.addEventListener('click', function (e) {
                    const img = modalEl.querySelector('img'); // modal içindeki fotoğraf
                    // Eğer tıklanan fotoğraf değilse modal kapanacak
                    if (e.target !== img) {
                        const modalInstance = bootstrap.Modal.getInstance(modalEl);
                        modalInstance.hide();
                    }
                });
            });
        });
    </script>
}
